{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "edit_personal.title"|trans }}{% endblock %}
{% block description %}{{ "edit_personal.description"|trans }}{% endblock %}
{% set theme_color = globals_theme_color_person %}

{% trans_default_domain "person" %}

{% block primary_content %}
    {{ form(edit_form) }}
{% endblock %}

{% block secondary_content %}
    <h3>{{ "edit_personal.about"|trans }}</h3>
    <p>{{ "edit_personal.about_description"|trans }}</p>
    <h3>{{ "edit_personal.person_address"|trans }}</h3>
    <p>{{ "edit_personal.person_address_description"|trans }}</p>
    <h3>{{ "edit_personal.person_contact"|trans }}</h3>
    <p>{{ "edit_personal.person_contact_description"|trans }}</p>
    <h3>{{ "edit_personal.not_login_email"|trans }}</h3>
    <p>{{ "edit_personal.not_login_email_description"|trans }}</p>
{% endblock %}