{% extends "single_content_base.html.twig" %}
{% set color_class = globals_color_class_event %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}
{% import "macros/events.html.twig" as events_macro %}

{% block title %}{{ "confirm.title"|trans }}{% endblock %}
{% block description %}{{ "confirm.description"|trans }}{% endblock %}

{% trans_default_domain "event" %}

{% block single_content %}
    <div class="row">
        <div class="col-md-9">
            <h3>{{ "confirm.confirm_events"|trans }}</h3>

            {% if events|length > 0 %}
                <p><a href="{{ path("event_confirm_all") }}">{{ "confirm.do_confirm_all"|trans }}</a></p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ "entity.name"|trans({}, "entity_event_line") }}</th>
                        <th>{{ "start_date_time"|trans({}, "entity_event") }}</th>
                        <th>{{ "start_date_time"|trans({}, "entity_event") }}</th>
                        <th>{{ "entity.name"|trans({}, "entity_person") }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.eventLine.name }}</td>
                            <td>{{ event.startDateTime|myDateTime }}</td>
                            <td>{{ event.endDateTime|myDateTime }}</td>
                            <td>
                                {% if (event.person == null) %}
                                    {{ "confirm.no_person_assigned"|trans }}
                                {% else %}
                                    {{ event.person.fullName }}
                                {% endif %}
                            </td>
                            <td>
                                {% if (event.person == null) %}
                                    <a href="{{ path("event_confirm_member", {"event" : event.id}) }}">
                                        {{ "confirm.do_confirm"|trans }}
                                    </a>
                                {% else %}
                                    <a href="{{ path("event_confirm_person", {"event" : event.id}) }}">
                                        {{ "confirm.do_confirm"|trans }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{{ "confirm.no_events"|trans }}</p>
            {% endif %}

        </div>
        <div class="col-md-3">
            <h3>{{ "confirm.confirm_events"|trans }}</h3>
            <p>{{ "confirm.confirm_events_description"|trans }}</p>
        </div>
    </div>
{% endblock %}