{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "edit.title"|trans }}{% endblock %}
{% block description %}{{ "edit.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "event_line" %}

{% block primary_content %}
    {{ form(edit_event_line_form) }}
{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "remove.title"|trans }}</h3>
    <p>
        {{ "remove.description"|trans }}
        <br/>
        <a href="{{ path("administration_organisation_event_line_remove", { "organisation" : organisation.id, "eventLine": eventLine.id}) }}">
            {{ "edit.remove_action"|trans }}
        </a>
    </p>
{% endblock secondary_content %}