{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "import.title"|trans }}{% endblock %}
{% block description %}{{ "import.description"|trans }}{% endblock %}
{% set color_class = globals_color_class_event_line %}

{% trans_default_domain "administration_organisation_event_line" %}

{% block primary_content %}
    {{ form(import_form) }}

    {% if organisation.members|length == 0 %}
        <p>
            {{ "import.no_members"|trans }}
        </p>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ "member_id"|trans({}, "entity_event") }}</th>
                <th>{{ "entity.name"|trans({}, "entity_member") }}</th>
            </tr>
            </thead>
            <tbody>
            {% for member in organisation.members %}
                <tr>
                    <td>{{ member.id }}</td>
                    <td>{{ member.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block secondary_content %}
    <h3>{{ "import.import_events_template"|trans }}</h3>
    <p>
        {{ "import.import_events_template_description"|trans }}
        <br/>
        <a href="{{ path("administration_organisation_event_line_import_download_template", { "organisation" : organisation.id}) }}">
            {{ "import.import_events_template_download"|trans }}
        </a>
    </p>
    <h3>{{ "import.import_events_required"|trans }}</h3>
    <p>{{ "import.import_events_required_description"|trans }}</p>

{% endblock %}