{% extends 'layout/base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "static" %}

{% set show_dashboard = false %}
{% set go_to_startpage = true %}
{% set color_class = globals_color_class_organisation %}

{% block content %}
    <section class="introduction">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-4">
                    <h2>{{ "introduction.header"|trans }}</h2>
                    <p class="h2-description">{{ "introduction.header_description"|trans }}</p>
                </div>
                <div class="color-content offset-md-2 col-md-6">
                    <p>{{ "introduction.paragraph_1"|trans }}</p>
                    <p>{{ "introduction.paragraph_2"|trans }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-5">
                    <h2>{{ "contact.header"|trans }}</h2>
                    <p class="h2-description">{{ "contact.header_description"|trans }}</p>
                </div>
                <div class="color-content offset-md-1 col-md-6">
                    <h3>{{ "contact.contact_form_header"|trans }}</h3>
                    {{ form(newsletter_form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}