{% extends 'layout/base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "static" %}

{% set show_dashboard = false %}
{% set color_class = globals_color_class_organisation %}

{% block content %}
    <section class="content blue-background">
        <div class="container list-container d-md-block">
            <div class="row">
                <a class="tile tile-double default-color" href="{{ path('dashboard_index') }}">
                    <i class="ion ion-big ion-ios-log-in"></i>
                    <h3>{{ "index.login"|trans }}</h3>
                    <p>
                        {{ "index.login_description"|trans }}
                    </p>
                </a>
                <a class="tile tile-double default-color" href="{{ path('access_register_check') }}">
                    <i class="ion ion-big ion-ios-add-circle-outline"></i>
                    <h3>{{ "index.register"|trans }}</h3>
                    <p>
                        {{ "index.register_description"|trans }}
                    </p>
                </a>
                <a class="tile tile-double default-color" href="{{ path('about') }}">
                    <i class="ion ion-big ion-ios-information-circle-outline"></i>
                    <h3>{{ "index.about"|trans }}</h3>
                    <p>
                        {{ "index.about_description"|trans }}
                    </p>
                </a>
                <a class="tile tile-double default-color" href="{{ path('contact') }}">
                    <i class="ion ion-big ion-ios-contact-outline"></i>
                    <h3>{{ "index.contact"|trans }}</h3>
                    <p>
                        {{ "index.contact_description"|trans }}
                    </p>
                </a>
            </div>
        </div>
    </section>
{% endblock %}