{% extends "single_content_base.html.twig" %}

{% block title %}{{ "confirm_generation.title"|trans }}{% endblock %}
{% block description %}{{ "confirm_generation.description"|trans }}{% endblock %}
{% set theme_color = globals_theme_color_event_line %}

{% trans_default_domain "administration_organisation_event_line_generate_nodika" %}

{% block single_content %}
    <p>
        {{ "confirm_generation.help"|trans }}
    </p>

    <p>
        <a class="btn btn-primary"
           href="{{ path("administration_organisation_event_line_generate_nodika_apply_generation", {"organisation":organisation.id, "eventLine":eventLine.id, "generation": eventLineGeneration.id}) }}">
            {{ "confirm_generation.persist_now"|trans }}
        </a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>{{ "confirm_generation.member_name"|trans }}</th>
            <th>{{ "confirm_generation.start_date_time"|trans }}</th>
            <th>{{ "confirm_generation.end_date_time"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for event in generationResult.events %}
            <tr>
                <td>{{ memberById[event.memberId].name }}</td>
                <td>{{ event.startDateTime|myDateTime }}</td>
                <td>{{ event.endDateTime|myDateTime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}