{% extends "primary_secondary_content_base.html.twig" %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}

{% block title %}{{ "distribution_settings.title"|trans }}{% endblock %}
{% block description %}{{ "distribution_settings.description"|trans }}{% endblock %}
{% set color_class = globals_color_class_event_line %}

{% trans_default_domain "administration_organisation_event_line_generate_nodika" %}

{% block primary_content %}
    <form class="form"
          action="{{ path("administration_organisation_event_line_generate_nodika_distribution_settings", {"organisation" : organisation.id, "eventLine": eventLine.id, "generation": eventLineGeneration.id}) }}"
          method="post">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ "distribution_settings.day_weighting"|trans }}</h3>
            </div>
            <div class="col-md-6">
                {{ kitchen_sink.form_field("event_type_weekday", eventTypeConfiguration.weekday, "weekday"|trans({}, "enum_nodika_event_type")) }}
            </div>
            <div class="col-md-6">
                {{ kitchen_sink.form_field("event_type_saturday", eventTypeConfiguration.saturday, "saturday"|trans({}, "enum_nodika_event_type")) }}
            </div>
            <div class="col-md-6">
                {{ kitchen_sink.form_field("event_type_sunday", eventTypeConfiguration.sunday, "sunday"|trans({}, "enum_nodika_event_type")) }}
            </div>
            <div class="col-md-6">
                {{ kitchen_sink.form_field("event_type_holiday", eventTypeConfiguration.holiday, "holiday"|trans({}, "enum_nodika_event_type")) }}
            </div>
        </div>
        <h3>{{ "distribution_settings.holidays"|trans }}</h3>
        {{ kitchen_sink.textarea_form_field("holiday_string", holidayString) }}
        {{ kitchen_sink.submit_form_button("submit", "next"|trans({}, "enum_submit_button_type")) }}
    </form>
{% endblock %}

{% block secondary_content %}
    <h3>{{ "distribution_settings.day_weighting"|trans }}</h3>
    <p>{{ "distribution_settings.day_weighting_description"|trans }}</p>
    <h3>{{ "distribution_settings.holidays"|trans }}</h3>
    <p>{{ "distribution_settings.holidays_description"|trans }}</p>
{% endblock %}