{% extends "primary_secondary_content_base.html.twig" %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}

{% block title %}{{ "no_conflicts.title"|trans }}{% endblock %}
{% block description %}{{ "no_conflicts.description"|trans }}{% endblock %}
{% set color_class = globals_color_class_event_line %}

{% trans_default_domain "administration_organisation_event_line_generate_nodika" %}

{% block primary_content %}
    <h3>{{ "entity.plural"|trans({}, "entity_event_line") }}</h3>
    <form class="form"
          action="{{ path("administration_organisation_event_line_generate_nodika_no_conflicts", {"organisation" : organisation.id, "eventLine": eventLine.id, "generation": eventLineGeneration.id}) }}"
          method="post">
        {% if eventLineConfigurations|length == 0 %}
            <p>{{ "no_conflicts.no_other_event_lines"|trans }}</p>
        {% else %}
            {% for eventLine in eventLineConfigurations %}
                {{ kitchen_sink.toggle_form_field("event_line_" ~ eventLine.id, eventLine.isEnabled, eventLine.name) }}
            {% endfor %}
        {% endif %}
        {{ kitchen_sink.form_field("conflict_puffer_in_hours", conflictPufferInHours, "no_conflicts.conflict_puffer"|trans) }}
        {{ kitchen_sink.submit_form_button("submit", "next"|trans({}, "enum_submit_button_type")) }}
    </form>
{% endblock %}

{% block secondary_content %}
    <h3>{{ "no_conflicts.no_conflicts"|trans }}</h3>
    <p>{{ "no_conflicts.no_conflicts_description"|trans }}</p>
    <h3>{{ "no_conflicts.conflict_puffer"|trans }}</h3>
    <p>{{ "no_conflicts.conflict_puffer_description"|trans }}</p>
    <h3>{{ "no_conflicts.no_match_warning"|trans }}</h3>
    <p>{{ "no_conflicts.no_match_warning_description"|trans }}</p>
{% endblock %}