{% extends "primary_secondary_content_base.html.twig" %}
{% set theme_color = globals_theme_color_organisation %}
{% import "macros/buttons.html.twig" as buttons %}
{% import "macros/events.html.twig" as events %}

{% block title %}{{ "events.title"|trans }}{% endblock %}
{% block description %}{{ "events.description"|trans }}{% endblock %}

{% trans_default_domain "administration_organisation" %}

{% block primary_content %}
    {% if eventLineModels|length == 0 %}
        <p>{{ "events.no_event_lines"|trans }}
            <br/>
            <a href="{{ path("administration_organisation_event_lines", {"organisation" : organisation.id}) }}">
                {{ "events.to_event_lines_administration"|trans }}
            </a>
        </p>
    {% else %}
        {% for eventLineModel in eventLineModels %}
            <h3>
                {{ eventLineModel.eventLine.name }}
            </h3>
            <p>{{ eventLineModel.eventLine.description }}</p>
            {% if eventLineModel.events|length == 0 %}
                <p>{{ "events.no_events"|trans }}</p>
            {% else %}
                {{ events.show_table(organisation, eventLineModel.eventLine, eventLineModel.events) }}
            {% endif %}
            <p>
                <a href="{{ path("administration_organisation_event_line_administer", {"organisation" : organisation.id, "eventLine" : eventLineModel.eventLine.id}) }}">
                    {{ "events.to_event_line_administration"|trans }}
                </a>
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block secondary_content %}
    <h3>{{ "entity.name"|trans({}, "entity_event") }}</h3>
    <p>{{ "entity.description"|trans({}, "entity_event") }}</p>
    <h3>{{ "entity.name"|trans({}, "entity_event_line") }}</h3>
    <p>{{ "entity.description"|trans({}, "entity_event_line") }}</p>
{% endblock %}