{% extends "primary_secondary_content_base.html.twig" %}
{% set theme_color = globals_theme_color_member %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}

{% block title %}{{ "members_invite.title"|trans }}{% endblock %}
{% block description %}{{ "members_invite.description"|trans }}{% endblock %}

{% trans_default_domain "administration_organisation" %}

{% block primary_content %}
    <h3>{{ "members_invite.customize_message"|trans }}</h3>
    <form class="form"
          action="{{ path("administration_organisation_members_invite", {"organisation" : organisation.id}) }}"
          method="post">
        {{ kitchen_sink.form_field("subject", subject, "members_invite.subject"|trans) }}
        {{ kitchen_sink.textarea_form_field("message", message, "members_invite.message"|trans) }}
        {% if hasPendingMember %}
            {{ kitchen_sink.submit_form_button("submit", "next"|trans({}, "enum_submit_button_type")) }}
        {% else %}
            {{ kitchen_sink.submit_form_button("submit", "edit"|trans({}, "enum_submit_button_type")) }}
        {% endif %}

    </form>

    <h3>{{ "entity.plural"|trans({}, "entity_member") }}</h3>
    <table class="table">
        <thead>
        <tr>
            <th>{{ "entity.name"|trans({}, "entity_member") }}</th>
            <th>{{ "has_been_invited"|trans({}, "entity_member") }}</th>
            <th>{{ "entity.plural"|trans({}, "entity_person") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>
                    {{ member.name }} <br/>
                    <span class="secondary">
                    {{ member.description }}
                </span>
                </td>
                <td>
                    {{ member.hasBeenInvited|myBoolean }}
                </td>
                <td>
                    {{ member.email }}
                </td>
                <td>
                    {{ member.persons.count }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block secondary_content %}
    <h3>{{ "members_invite.invite"|trans }}</h3>
    <p>{{ "members_invite.invite_description"|trans }}</p>
    <h3>{{ "members_invite.customize_message"|trans }}</h3>
    <p>
        {{ "members_invite.customize_message_description"|trans }}<br/>
        {{ "members_invite.customize_message_variable_1"|trans }}<br/>
        {{ "members_invite.customize_message_variable_2"|trans }}<br/>
        {{ "members_invite.customize_message_variable_3"|trans }}<br/>
        {{ "members_invite.customize_message_variable_4"|trans }}<br/>
        {{ "members_invite.customize_message_variable_5"|trans }}
    </p>
{% endblock %}