{% extends "list_content_base.html.twig" %}
{% set color_class = globals_color_class_event %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}

{% block title %}{{ "choose_events.title"|trans }}{% endblock %}
{% block description %}{{ "choose_events.description"|trans }}{% endblock %}

{% trans_default_domain "offer" %}

{% block list_content_wrapper_start %}

<form class="form" action="{{ path("offer_choose_events", {"eventOffer" : eventOffer.id}) }}" method="post">
    {% endblock %}

    {% block list_content_0 %}
        <div class="row">
            <div class="col-md-8">
                <h3>{{ "choose_events.your_events"|trans }}</h3>
                <p>{{ "choose_events.your_events_description"|trans }}</p>

                {% for myEventLineModel in myEventLineModels %}
                    <h4>{{ myEventLineModel.eventLine.name }}</h4>
                    {% if myEventLineModel.events|length > 0 %}
                        {% for event in myEventLineModel.events %}
                            {{ kitchen_sink.toggle_form_field("event_" ~ event.id, event.id in offered, event.startDateTime|myDateTime ~ " - " ~ event.endDateTime|myDateTime) }}
                        {% endfor %}
                    {% else %}
                        <p>{{ "choose_events.no_available_events"|trans }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h3>{{ "choose_events.event_not_found"|trans }}</h3>
                <p>{{ "choose_events.event_not_found_description"|trans }}</p>
            </div>
        </div>
    {% endblock %}

    {% block list_content_1 %}
        <div class="row">
            <div class="col-md-8">
                <h3>{{ "choose_events.their_events"|trans }}</h3>
                <p>{{ "choose_events.their_events_description"|trans }}</p>

                {% for theirEventLineModel in theirEventLineModels %}
                    <h4>{{ theirEventLineModel.eventLine.name }}</h4>
                    {% if theirEventLineModel.events|length > 0 %}
                        {% for event in theirEventLineModel.events %}
                            {{ kitchen_sink.toggle_form_field("event_" ~ event.id, event.id in offered, event.startDateTime|myDateTime ~ " - " ~ event.endDateTime|myDateTime) }}
                        {% endfor %}
                    {% else %}
                        <p>{{ "choose_events.no_available_events"|trans }}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h3>{{ "choose_events.event_not_found"|trans }}</h3>
                <p>{{ "choose_events.event_not_found_receiver_description"|trans }}</p>
            </div>
        </div>
    {% endblock %}

    {% block list_content_2 %}
        <h3>{{ "choose_events.message"|trans }}</h3>
        <p>{{ "choose_events.message_description"|trans }}</p>
        {{ kitchen_sink.textarea_form_field("description", description_form, "description"|trans({}, "entity_event_offer")) }}
        <hr/>
        {{ kitchen_sink.submit_form_button("submit", "choose_events.create_offer"|trans) }}
    {% endblock %}


    {% block list_content_wrapper_end %}

</form>
{% endblock %}