{% extends "single_content_base.html.twig" %}
{% set color_class = globals_color_class_event %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}
{% import "macros/events.html.twig" as events_macro %}

{% block title %}{{ "review_offer.title"|trans }}{% endblock %}
{% block description %}{{ "review_offer.description"|trans }}{% endblock %}

{% trans_default_domain "offer" %}

{% block single_content %}
    <h3> {{ "review_offer.their_events_for_you"|trans }}</h3>
    <p> {{ "review_offer.their_events_for_you_description"|trans }}</p>
    {{ events_macro.no_details_table(otherEvents) }}
    <h3> {{ "review_offer.your_events_for_receiver"|trans }}</h3>
    <p> {{ "review_offer.your_events_for_receiver_description"|trans }}</p>
    {{ events_macro.no_details_table(myEvents) }}
    {% if eventOffer.description|length > 0 %}
        <h3> {{ "review_offer.message"|trans }}</h3>
        <p> {{ "review_offer.message_description"|trans }}</p>
        <span class="d-inline-flex p-2 border border-dark">
            {{ eventOffer.description }}
        </span>
    {% endif %}
    {% if closeActions %}
        <hr/>
        <p>
            <a class="btn btn-light"
               href="{{ path("offer_close", {"eventOffer" : eventOffer.id}) }}">{{ "review_offer.close_offer"|trans }}</a>
        </p>
    {% endif %}
    {% if acceptRejectActions %}
        <hr/>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-default"
               href="{{ path("offer_accept", {"eventOffer" : eventOffer.id}) }}">{{ "review_offer.accept_offer"|trans }}</a><br/>
            <a class="btn btn-light"
               href="{{ path("offer_reject", {"eventOffer" : eventOffer.id}) }}">{{ "review_offer.reject_offer"|trans }}</a><br/>
        </div>
    {% endif %}

{% endblock %}