{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "generate_choose.title"|trans }}{% endblock %}
{% block description %}{{ "generate_choose.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "event_line" %}

{% block primary_content %}
    <h2>{{ "generate_choose.nodika_algorithmus"|trans }}</h2>
    <p>
        {{ "generate_choose.nodika_algorithmus_description"|trans }}
        <br/>
        <a href="{{ path("administration_organisation_event_line_generate_nodika", {"organisation" : organisation.id, "eventLine" : eventLine}) }}">
            {{ "generate_choose.nodika_algorithmus_action"|trans }}
        </a>
    </p>

    <h2>{{ "generate_choose.round_robin"|trans }}</h2>
    <p>
        {{ "generate_choose.round_robin_description"|trans }}
        <br/>
        <a href="{{ path("administration_organisation_event_line_generate_round_robin", {"organisation" : organisation.id, "eventLine" : eventLine}) }}">
            {{ "generate_choose.round_robin_action"|trans }}
        </a>
    </p>
{% endblock %}

{% block secondary_content %}
    <h3>{{ "generate_choose.generation_explanation"|trans }}</h3>
    <p>{{ "generate_choose.generation_explanation_description"|trans }}</p>
    <h3>{{ "generate_choose.common_paramters"|trans }}</h3>
    <p>{{ "generate_choose.common_paramters_description"|trans }}</p>
{% endblock %}