{% macro edit_button(link) %}
    {{ _self.link_button(link, "edit") }}
{% endmacro %}

{% macro link_button(link, icon) %}
    <a href="{{ link }}">
        <span class="icon-{{ icon }}"></span>
    </a>
{% endmacro %}

{% macro base_button(link, text) %}
    <a href="{{ link }}">{{ text }}</a>
{% endmacro %}

{% macro edit_button(link) %}
    {% import _self as buttons %}
    {{ buttons.base_button(link, "row.edit"|trans({}, "common_table")) }}
{% endmacro %}

{% macro administer_button(link) %}
    {% import _self as buttons %}
    {{ buttons.base_button(link, "row.administer"|trans({}, "common_table")) }}
{% endmacro %}

{% macro delete_button(link) %}
    {% import _self as buttons %}
    {{ buttons.base_button(link, "row.delete"|trans({}, "common_table")) }}
{% endmacro %}