{% macro show_table(organisation, eventLine, events, show_edit = false) %}
    {% import "macros/buttons.html.twig" as buttons %}

    <table class="table">
        <thead>
        <tr>
            <th>{{ "start_date_time"|trans({}, "entity_event") }}</th>
            <th>{{ "end_date_time"|trans({}, "entity_event") }}</th>
            <th>{{ "entity.name"|trans({}, "entity_member") }}</th>
            <th>{{ "entity.name"|trans({}, "entity_person") }}</th>
            <th>{{ "column.view"|trans({}, "common_table") }}</th>
            {% if show_edit %}
                <th>{{ "column.edit"|trans({}, "common_table") }}</th>
                <th>{{ "column.delete"|trans({}, "common_table") }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>
                    {{ event.startDateTime|myDateTime }}
                </td>
                <td>
                    {{ event.endDateTime|myDateTime }}
                </td>
                <td>
                    {{ event.member }}
                </td>
                <td>
                    {{ event.person }}
                </td>
                <td>
                    {{ buttons.view_button(path("administration_organisation_event_line_event_view", {"organisation": organisation.id, "eventLine": eventLine.id, "event": event.id})) }}
                </td>
                {% if show_edit %}
                    <td>
                        {{ buttons.edit_button(path("administration_organisation_event_line_event_edit", {"organisation": organisation.id, "eventLine": eventLine.id, "event": event.id})) }}
                    </td>
                    <td>
                        {{ buttons.delete_button(path("administration_organisation_event_line_event_remove", {"organisation": organisation.id, "eventLine": eventLine.id, "event": event.id})) }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}