{% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
    <div class="container menu-container">
        <div class="menu-toggle-container">
            <div class="menu-toggle" id="menu-toggle">
                <div class="nav-icon navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="menu-entries-container menu-content">
            <h3>{{ "menu.menu"|trans({}, "content_base") }}</h3>
            <ul class="menu-entries">
                {% if is_granted("ROLE_ADMIN") %}
                {% elseif is_granted("ROLE_USER") %}
                    {# adminitration menu #}
                    {% if ("administration" in app.request.attributes.get("_route")) %}
                        <li class="menu-group-header">
                            <span>{{ "entity.name"|trans({}, "entity_organisation") }}</span>
                        </li>
                        {% if organisation is not null %}
                            <li>
                                <a href="{{ path("administration_organisation_administer", {"organisation" : organisation.id}) }}">{{ "menu.admin.administer"|trans({}, "content_base") }}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path("administration_organisation_new") }}">{{ "menu.admin.add_organisation"|trans({}, "content_base") }}</a>
                        </li>

                        {% if organisation is not null %}
                            <li class="menu-group-header">
                                <span>{{ "entity.name"|trans({}, "entity_member") }}</span>
                            </li>
                            {% if member is not null %}
                                <li>
                                    <a href="{{ path("administration_organisation_member_administer", {"organisation" : organisation.id, "member" : member.id}) }}">{{ "menu.admin.administer"|trans({}, "content_base") }}</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path("administration_organisation_member_new", {"organisation" : organisation.id}) }}">{{ "menu.admin.add_member"|trans({}, "content_base") }}</a>
                            </li>
                            {% if member is not null %}
                                <li class="menu-group-header">
                                    <span>{{ "entity.name"|trans({}, "entity_person") }}</span>
                                </li>
                                <li>
                                    <a href="{{ path("administration_organisation_member_person_new", {"organisation" : organisation.id, "member" : member.id}) }}">{{ "menu.admin.add_person"|trans({}, "content_base") }}</a>
                                </li>
                            {% endif %}

                            <li class="menu-group-header">
                                <span>{{ "entity.name"|trans({}, "entity_event_line") }}</span>
                            </li>
                            {% if eventLine is not null %}
                                <li>
                                    <a href="{{ path("administration_organisation_event_line_administer", {"organisation" : organisation.id, "eventLine" : eventLine.id}) }}">{{ "menu.admin.administer"|trans({}, "content_base") }}</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path("administration_organisation_event_line_new", {"organisation" : organisation.id}) }}">{{ "menu.admin.add_event_line"|trans({}, "content_base") }}</a>
                            </li>
                            {% if event is not null %}
                                <li class="menu-group-header">
                                    <span>{{ "entity.name"|trans({}, "entity_event") }}</span>
                                </li>
                                <li>
                                    <a href="{{ path("administration_organisation_event_line_new", {"organisation" : organisation.id, "eventLine" : event.id}) }}">{{ "menu.admin.add_event"|trans({}, "content_base") }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {# user menu #}
                        {% if menu_organisation is not null %}
                            <li class="menu-group-header">
                                <span>{{ "entity.name"|trans({}, "entity_organisation") }}</span>
                            </li>
                            <li>
                                <a href="{{ path("organisation_view") }}">
                                    {{ menu_organisation.name }}
                                </a>
                            </li>
                        {% endif %}
                        {% if menu_member is not null %}
                            <li class="menu-group-header">
                                {{ "entity.plural"|trans({}, "entity_event") }}
                            </li>
                            <li>
                                <a href="{{ path("event_assign") }}">
                                    {{ "menu.user.assign_events"|trans({}, "content_base") }}
                                    ({{ menu_unassigned_events_count }})
                                </a>
                            </li>
                            <li>
                                <a href="{{ path("event_confirm") }}">
                                    {{ "menu.user.confirm_events"|trans({}, "content_base") }}
                                    ({{ menu_unconfirmed_events_count }})
                                </a>
                            </li>
                            <li>
                                <a href="{{ path("offer_index") }}">
                                    {{ "menu.user.offer_index"|trans({}, "content_base") }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path("event_search", {"member" : menu_member.id}) }}">
                                    {{ "menu.user.my_member_events"|trans({}, "content_base") }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path("event_search", {"person" : menu_person.id}) }}">
                                    {{ "menu.user.my_person_events"|trans({}, "content_base") }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path("event_search") }}">
                                    {{ "menu.user.search_events"|trans({}, "content_base") }}
                                </a>
                            </li>

                            <li class="menu-group-header">
                                {{ "entity.name"|trans({}, "entity_member") }}
                            </li>
                            <li>
                                <a href="{{ path("member_view") }}">
                                    {{ menu_member.name }}
                                </a>
                            </li>
                        {% endif %}
                        <li class="menu-group-header">
                            {{ "entity.name"|trans({}, "entity_person") }}
                        </li>
                        <li>
                            <a href="{{ path("person_view") }}">
                                {{ menu_person.fullName }}
                            </a>
                        </li>

                        <li class="menu-group-header">
                            {{ "menu.user.advanced"|trans({}, "content_base") }}
                        </li>
                        <li>
                            <a href="{{ path("access_logout") }}">
                                {{ "menu.user.logout"|trans({}, "content_base") }}
                            </a>
                        </li>
                        <li>
                            <a href="mailto:support@nodika.ch">
                                {{ "menu.user.contact_support"|trans({}, "content_base") }}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}

{% if not (show_help is defined and not show_help) %}
    <div class="container help-container">
        <div class="help-toggle-container">
            <div class="help-toggle" id="help-toggle">
                <h3>{{ "help.help"|trans({}, "content_base") }}</h3>
            </div>
        </div>
        <div class="help-content-container help-content">
            <h3>{{ "help.help"|trans({}, "content_base") }}</h3>
            <p>{{ "help.help_description"|trans({}, "content_base") }}</p>
            <h3>{{ "help.architecture"|trans({}, "content_base") }}</h3>
            <p>
                {% if member is defined and person is defined %}
                    {{ "help.architecture_description_1"|trans({"%member%" : member.name, "%person%" : person.fullName}, "content_base") }}
                {% else %}
                    {{ "help.architecture_description_1_alternative"|trans({}, "content_base") }}
                {% endif %}
                <br/>
                {% if organisation is defined %}
                    {{ "help.architecture_description_2"|trans({"%organisation%": organisation.name}, "content_base") }}
                {% else %}
                    {{ "help.architecture_description_2_alternative"|trans({}, "content_base") }}
                {% endif %}
            </p>
            <h3>{{ "help.functions"|trans({}, "content_base") }}</h3>
            <p>
                {{ "help.functions_description_1"|trans({}, "content_base") }}<br/>
                {{ "help.functions_description_2"|trans({}, "content_base") }}
            </p>
            <h3>{{ "help.administration"|trans({}, "content_base") }}</h3>
            <p>
                {{ "help.administration_description"|trans({}, "content_base") }}
            </p>
        </div>
    </div>
{% endif %}