{% extends 'layout_base.html.twig' %}
{% import _self as local_macro %}
{% import 'macros/event_tag.html.twig' as event_tag_macros %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% macro quick_link(name, description, link) %}
    <div class="card" href="{{ path('assign_index') }}">
        <div class="card-body">
            <p>
                {{ description }}
            </p>
            <a class="btn btn-outline-primary" href="{{ link }}">
                {{ name }}
            </a>
        </div>
    </div>
{% endmacro %}


{% block content %}
    <div id="confirm"></div>
    <div id="offer-confirm"></div>
    <div class="container">
        <div class="row">
            <div class="d-flex">
                {{ local_macro.quick_link("index.title"|trans({}, "assign"), "index.description"|trans({}, "assign"), path("assign_index")) }}
                {{ local_macro.quick_link("index.title"|trans({}, "trade"), "index.description"|trans({}, "trade"), path("trade_index")) }}
                {{ local_macro.quick_link("index.title"|trans({}, "search"), "index.description"|trans({}, "search"), path("search_index")) }}
            </div>
            <div class="card w-100">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>{{ "start_date_time"|trans({}, "trait_start_end") }}</th>
                                <th>{{ "end_date_time"|trans({}, "trait_start_end") }}</th>
                                <th>{{ "entity.name"|trans({}, "entity_clinic") }}</th>
                                <th>{{ "entity.name"|trans({}, "entity_doctor") }}</th>
                                <th>{{ "is_confirmed"|trans({}, "trait_event") }}</th>
                                <th class="minimal-width"> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in events %}
                                <tr class="{% if event.active %}table-light{% endif %} {% if event.clinic in app.user.clinics %}bold{% endif %}">
                                    <td>
                                        {{ event.startDateTime|dateTimeFormat }}
                                    </td>
                                    <td>
                                        {{ event.endDateTime|dateTimeFormat }}
                                    </td>
                                    <td>
                                        {{ event.clinic }}
                                    </td>
                                    <td>
                                        {{ event.doctor }}
                                    </td>
                                    <td>
                                        {% if event.isConfirmed %}
                                            <i class="fas fa-check"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ event_tag_macros.render(event.eventTags) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <p>
                        <a href="{{ path("search_index") }}">{{ "index.show_all_events"|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {#
    <section class="content {{ theme_color }}-background">

        <div class="container">
            <div class="row">
                <a class="tile tile-2 default-color" href="{{ path('offer_index') }}">
                    <h3>{{ "index.trade_events"|trans }}</h3>
                    <p>
                        {{ "index.trade_events_description"|trans }}
                    </p>
                </a>
                <a class="tile tile-2 default-color" href="{{ path('event_confirm') }}">
                    <h3>{{ "index.confirm_events"|trans }}</h3>
                    <p>
                        {{ "index.confirm_events_description"|trans }}
                    </p>
                </a>
                <a class="tile tile-2 default-color" href="{{ path('event_search') }}">
                    <h3>{{ "index.search_events"|trans }}</h3>
                    <p>
                        {{ "index.search_events_description"|trans }}
                    </p>
                </a>

                <a class="tile tile-4 default-color" href="{{ path('administration_index') }}">
                    <h3>{{ "index.title"|trans({}, "administration") }}</h3>
                    <p>
                        {{ "index.search_events_description"|trans }}
                    </p>
                </a>

                {% endif %}
            </div>
        </div>

    </section>
    #}
{% endblock %}

