{% macro sep() %}
    <i class="oi oi-caret-right breadcrumb-separator" aria-hidden="true"></i>
{% endmacro %}

{% macro link(name, href) %}
    <a href="{{ href }}" class="breadcrumb-item" role="menuitem">{{ name }}</a>
{% endmacro %}

{% macro breadcrumbs(breadcrumbs, request, title) %}
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        {% if breadcrumb.path != request.pathinfo %}
                            <li class="breadcrumb-item">
                                <a href="{{ breadcrumb.path }}">
                                    {{ breadcrumb.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <li class="breadcrumb-item active" aria-current="page">
                        {{ title }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
{% endmacro %}