{% extends "primary_secondary_content_base.html.twig" %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}

{% block title %}{{ "set_order.title"|trans }}{% endblock %}
{% block description %}{{ "set_order.description"|trans }}{% endblock %}
{% set color_class = globals_color_class_event_line %}

{% trans_default_domain "round_robin" %}

{% block primary_content %}
    <p>{{ "set_order.help"|trans }}</p>
    <form class="form"
          action="{{ path("administration_organisation_event_line_generate_round_robin_set_order", {"organisation" : organisation.id, "eventLine": eventLine.id, "generation": eventLineGeneration.id}) }}"
          method="post">
        {% for member in memberConfigurations %}
            {{ kitchen_sink.horizontal_form_field("order_" ~ member.id, member.order, member.name) }}
        {% endfor %}

        {{ kitchen_sink.submit_form_field("submit", "next"|trans({}, "enum_submit_button_type")) }}
    </form>
{% endblock %}

{% block secondary_content %}
    <h3>{{ "set_order.order"|trans }}</h3>
    <p>{{ "set_order.order_description"|trans }}</p>
    <h3>{{ "set_order.randomize"|trans }}</h3>
    <p>
        {{ "set_order.randomize_description"|trans }}
        <a href="{{ path("administration_organisation_event_line_generate_round_robin_randomize_member_order", {"organisation" : organisation.id, "eventLine": eventLine.id, "generation": eventLineGeneration.id}) }}">
            {{ "set_order.randomize_action"|trans }}
        </a>
    </p>
{% endblock %}