{% macro toggle_form_field(name, value, description = null, classes = "") %}
    <div class="form-group {{ classes }}">
        <label class="switch" for="{{ name }}">
            <input class="form-control" type="checkbox" name="{{ name }}" id="{{ name }}"
                   {% if value %}checked="checked"{% endif %}>
            <span class="slider"></span>
        </label>
        {% if description != null %}
            <label class="switch-description" for="{{ name }}">{{ description }}</label>
        {% endif %}
    </div>
{% endmacro %}

{% macro submit_form_button(name, text) %}
    <div class="form-group">
        <button type="submit" id="{{ name }}" name="{{ name }}" class="btn-default btn">
            {{ text }}
        </button>
    </div>
{% endmacro %}

{% macro submit_form_field(name, value, text, classes = null) %}
    <div class="form-group">
        <button type="submit" id="{{ name }}" name="{{ name }}" value="{{ value }}" class="btn-default btn {{ classes }}">
            {{ text }}
        </button>
    </div>
{% endmacro %}

{% macro select_form_field(name, value, enumeration, description, empty, classes = "") %}
    <div class="form-group {{ classes }}">
        {% if description is not null %}
            <label class="control-label" for="{{ name }}">{{ description }}</label>
        {% endif %}
        <select class="form-control" name="{{ name }}" id="{{ name }}">
            {% if empty %}
                <option value="-" {% if value == null %}selected{% endif %}>-</option>
            {% endif %}
            {% for item in enumeration %}
                <option value="{{ item.id }}" {% if value != null and value.id == item.id %}selected{% endif %}>
                    {{ item }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

{% macro form_field(name, value, description = null, type = "text", classes = "") %}
    <div class="form-group {{ classes }}">
        {% if description is not null %}
            <label class="control-label" for="{{ name }}">{{ description }}</label>
        {% endif %}
        <input class="form-control" type="{{ type }}" name="{{ name }}" id="{{ name }}"
                {% if type == "checkbox" %}
            {% if value %}checked="checked"{% endif %}
        {% else %}
            value="{{ value }}"
                {% endif %}>
    </div>
{% endmacro %}

{% macro textarea_form_field(name, value, description = null, type = "text", classes = "") %}
    <div class="form-group {{ classes }}">
        {% if description is not null %}
            <label class="control-label" for="{{ name }}">{{ description }}</label>
        {% endif %}
        <textarea class="form-control" name="{{ name }}" id="{{ name }}">{{ value }}</textarea>
    </div>
{% endmacro %}

{% macro horizontal_form_field(name, value, description, type = "text", classes = "") %}
    <div class="form-group {{ classes }}">
        <div class="row">
            <div class="col-md-2">
                <input class="form-control" type="{{ type }}" name="{{ name }}" id="{{ name }}"
                        {% if type == "checkbox" %}
                    {% if value %}checked="checked"{% endif %}
                {% else %}
                    value="{{ value }}"
                        {% endif %}>
            </div>
            <div class="col-md-10">
                <label class="control-label" for="{{ name }}">{{ description }}</label>
            </div>
        </div>
    </div>
{% endmacro %}