{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "login.title"|trans }}{% endblock %}
{% block description %}{{ "login.description"|trans }}{% endblock %}
{% set color_class = "blue-background" %}

{% set show_help = false %}
{% trans_default_domain "access" %}

{% block primary_content %}
    {{ form_start(login_form, {"action" : path("access_login_check")}) }}
    {{ form_errors(login_form) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(login_form) }}
    <p>
        <a href="{{ path("access_reset") }}">{{ "login.forgot_password_action"|trans }}</a><br/>
        <a href="{{ path("access_register_check") }}">{{ "login.register_action"|trans }}</a>
    </p>
{% endblock %}

{% block secondary_content %}
    <h3>{{ "login.no_account"|trans }}</h3>
    <p>{{ "login.no_account_description"|trans }}</p>
    <h3>{{ "login.forgot_password"|trans }}</h3>
    <p>{{ "login.forgot_password_description"|trans }}</p>
    <h3>{{ "login.invitation_not_received"|trans }}</h3>
    <p>
        {{ "login.invitation_not_received_description"|trans }}<br/>
        <a href="{{ path("access_invite_resend") }}">{{ "login.invitation_not_received_action"|trans }}</a>
    </p>

{% endblock %}