{% extends "divided_content_base.html.twig" %}

{% block title %}{{ "register_confirm"|trans }}{% endblock %}
{% block description %}{{ "register_confirm_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "access" %}

{% block primary_content %}
    {{ form_start(register_confirm_form) }}
    {{ form_errors(register_confirm_form) }}
    {{ form_end(register_confirm_form) }}
{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "register_confirm"|trans }}</h3>
    <p>{{ "register_confirm_description"|trans }}</p>
{% endblock secondary_content %}