{% extends "divided_content_base.html.twig" %}

{% block title %}{{ "reset_confirm"|trans }}{% endblock %}
{% block description %}{{ "reset_confirm_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "access" %}

{% block primary_content %}
    {{ form_start(reset_password_form) }}
    {{ form_errors(reset_password_form) }}
    {{ form_end(reset_password_form) }}
{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "reset_confirm"|trans }}</h3>
    <p>{{ "reset_confirm_description"|trans }}</p>
{% endblock secondary_content %}