{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "reset.title"|trans }}{% endblock %}
{% block description %}{{ "reset.description"|trans }}{% endblock %}
{% set theme_color = "brown-background" %}

{% trans_default_domain "access" %}

{% set show_help = false %}

{% block primary_content %}
    <h3>{{ "reset.title"|trans }}</h3>
    {{ form(reset_form) }}
{% endblock %}

{% block secondary_content %}
    <h3>{{ "reset.title"|trans }}</h3>
    <p>{{ "reset.set_email_form_description"|trans }}</p>
{% endblock %}