{% extends "form_content_base.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "login" %}

{% block form_content %}
    {{ form_start(form, {"action" : path("login_check")}) }}
    {{ form_errors(form) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(form) }}
{% endblock %}

{% block form_description %}
    <p>
        {{ "index.problems"|trans }}<br/>
        <a href="{{ path("login_recover") }}">{{ "recover.title"|trans }}</a><br/>
        <a href="{{ path("invite_request") }}">{{ "request.title"|trans({}, "invite") }}</a><br/>
        <a href="{{ path("contact_index") }}">{{ "index.title"|trans({}, "contact") }}</a><br/>
    </p>
{% endblock %}