{% extends "single_content_base.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "login" %}

{% block single_content %}
    {{ form_start(form, {"action" : path("frontend_login_check")}) }}
    {{ form_errors(form) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(form) }}
    <p>
        <a href="{{ path("frontend_login_recover") }}">{{ "index.forgot_password_action"|trans }}</a><br/>
        <a href="{{ path("frontend_register_index") }}">{{ "index.register_action"|trans }}</a>
    </p>

{% endblock %}