{% extends "form_content_base.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "login" %}

{% block form_content %}
    {{ form_start(form, {"action" : path("login_check")}) }}
    {{ form_errors(form) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(form) }}
    <p>
        <a href="{{ path("login_recover") }}">{{ "index.forgot_password_action"|trans }}</a>
    </p>

{% endblock %}