{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "remove.title"|trans }}{% endblock %}
{% block description %}{{ "remove.description"|trans }}{% endblock %}
{% set color_class = globals_color_class_event %}

{% trans_default_domain "event" %}

{% block primary_content %}
    <h3>{{ "remove.remove_form"|trans }}</h3>
    {{ form(remove_form) }}
{% endblock %}

{% block secondary_content %}
    <h3>{{ "remove.remove"|trans }}</h3>
    <p>{{ "remove.remove_description"|trans }}</p>
{% endblock %}