{% extends "single_content_base.html.twig" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "search" %}

{% block single_content %}
    <div class="row">
        <div class="col-md-9">
            <table class="table table-striped table-hover table-responsive-xl">
                <thead>
                <tr>
                    <th>{{ "start_date_time"|trans({}, "trait_start_end") }}</th>
                    <th>{{ "end_date_time"|trans({}, "trait_start_end") }}</th>
                    <th>{{ "entity.plural"|trans({}, "entity_member") }}</th>
                    <th>{{ "entity.plural"|trans({}, "entity_frontend_user") }}</th>
                    <th>{{ "entity.plural"|trans({}, "entity_event_tag") }}</th>
                    <th>{{ "is_confirmed"|trans({}, "trait_event") }}</th>
                </tr>
                </thead>
                <tbody>

                {% for event in events %}
                    <tr>
                        <td>{{ event.startDateTime|dateTimeFormat }}</td>
                        <td>{{ event.endDateTime|dateTimeFormat }}</td>
                        <td>{{ event.member|default("") }}</td>
                        <td>{{ event.frontendUser|default("") }}</td>
                        <td>{{ event.eventTags|join(", ") }}</td>
                        <td>
                            {% if event.confirmed %}
                                <i class="fas fa-check"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <p class="lead">{{ "index.filter"|trans }}</p>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}