{% extends "primary_secondary_content_base.html.twig" %}
{% set theme_color = globals_theme_color_organisation %}

{% block title %}{{ "new.title"|trans }}{% endblock %}
{% block description %}{{ "new.description"|trans }}{% endblock %}

{% trans_default_domain "administration_organisation" %}

{% block primary_content %}
    <h3>{{ "new.title"|trans }}</h3>
    {{ form(new_organisation_form) }}
{% endblock %}

{% block secondary_content %}
    <h3>{{ "new.address"|trans }}</h3>
    <p>{{ "new.address_description"|trans }}</p>
    <h3>{{ "new.contact"|trans }}</h3>
    <p>{{ "new.contact_description"|trans }}</p>
    <h3>{{ "register.pricing"|trans({}, "access") }}</h3>
    <p>{{ "register.pricing_description"|trans({"%free_period_days%" : globals_free_period_days, "%yearly_fee%" : globals_yearly_fee, "%register_fee%" : globals_register_fee}, "access") }}</p>
{% endblock %}