{% extends "divided_content_base.html.twig" %}

{% block title %}{{ "administer"|trans }}{% endblock %}
{% block description %}{{ "administer_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "organisation" %}

{% block primary_content %}
    <p>//sho org</p>
{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "administer"|trans }}</h3>
    <p>{{ "administer_description"|trans }}</p>
    <h3>{{ "administer_relinks"|trans }}</h3>
    <p>
        <a href="{{ path("administration_organisation_members") }}">{{ "member_administration"|trans }}</a>
        <br/>
        <a href="{{ path("administration_organisation_events") }}">{{ "member_administration"|trans }}</a>
        <br/>
    </p>
{% endblock secondary_content %}