{% extends "single_content_base.html.twig" %}
{% set color_class = globals_color_class_event_line %}
{% import "macros/event_lines.html.twig" as event_lines %}

{% block title %}{{ "event_lines.title"|trans }}{% endblock %}
{% block description %}{{ "event_lines.description"|trans }}{% endblock %}

{% trans_default_domain "administration_organisation" %}

{% block single_content %}
    <h3>{{ "entity.name"|trans({}, "entity_event_line") }}</h3>
    <p>
        {{ "entity.description"|trans({}, "entity_event_line") }}
    </p>
    {{ event_lines.show_table(organisation, organisation.eventLines, true) }}
    <p>
        <a href="{{ path("administration_organisation_event_line_new", {"organisation" : organisation.id}) }}">{{ "event_lines.new_action"|trans }}</a>
    </p>
{% endblock %}