{% extends "divided_content_base.html.twig" %}
{% import "macros/buttons.html.twig" as buttons %}

{% block title %}{{ "event_administration"|trans }}{% endblock %}
{% block description %}{{ "event_administration_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "organisation" %}

{% block primary_content %}
    {% if eventLineModels|length == 0 %}
        <h2>{{ "events"|trans({}, "event") }}</h2>
        <p>{{ "no_event_lines_yet"|trans }}</p>
    {% else %}
        {% for eventLineModel in eventLineModels %}
            <h3>
                {{ eventLineModel.eventLine.name }}
                {{ buttons.edit_button(path("administration_organisation_event_line_edit", {"organisation" : organisation.id, "eventLine" : eventLineModel.eventLine.id})) }}
            </h3>
            <p>{{ eventLineModel.eventLine.description }}</p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>{{ "start_date_time"|trans({}, "event") }}</td>
                    <td>{{ "end_date_time"|trans({}, "event") }}</td>
                    <td>{{ "member"|trans({}, "member") }}</td>
                    <td>{{ "person"|trans({}, "person") }}</td>
                    <td></td>
                </tr>

                </thead>
                <tbody>
                {% for event in eventLineModel.events %}
                    <tr>
                        <td>{{ event.startDateTime|date("d.m.Y H:s") }}</td>
                        <td>{{ event.endDateTime|date("d.m.Y H:s") }}</td>
                        <td>{{ event.member }}</td>
                        <td>{{ event.person }}</td>
                        <td>
                            <a href="{{ path("administration_organisation_event_edit", {"organisation" : organisation.id, "event": event.id}) }}">bearbeiten</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    {% endif %}
{% endblock primary_content %}

        {% block secondary_content %}
            <h3>{{ "event_line"|trans({}, "event_line") }}</h3>
            <p>
                {{ "event_lines_description"|trans({}, "event_line") }}
                <br/>
                <a href="{{ path("administration_organisation_event_line_new", {"organisation" : organisation.id}) }}">{{ "event_lines_add"|trans }}</a>
            </p>
            <h3>{{ "events"|trans({}, "event") }}</h3>
            <p>
                {{ "events_description"|trans({}, "event") }}
                <br/>
                <a href="{{ path("administration_organisation_event_new", {"organisation" : organisation.id}) }}">{{ "event_add"|trans }}</a>
            </p>
            <h3>{{ "event_import"|trans }}</h3>
            <p>
                {{ "event_import_description"|trans }}
                <br/>
                <a href="{{ path("administration_organisation_event_import", {"organisation" : organisation.id}) }}">{{ "event_import"|trans }}</a>
            </p>

        {% endblock secondary_content %}