{% extends "single_content_base.html.twig" %}
{% set color_class = globals_color_class_member %}
{% import "macros/members.html.twig" as members %}

{% block title %}{{ "members.title"|trans }}{% endblock %}
{% block description %}{{ "members.description"|trans }}{% endblock %}

{% trans_default_domain "organisation" %}

{% block single_content %}
    <h3>{{ "entity.name"|trans({}, "entity_member") }}</h3>
    <p>
        {{ "entity.description"|trans({}, "entity_member") }}
    </p>
    {{ members.show_table(organisation, organisation.members, true) }}
    <p>
        <a href="{{ path("administration_organisation_member_new", {"organisation" : organisation.id}) }}">{{ "members.new_action"|trans }}</a> <br/>
        <a href="{{ path("administration_organisation_member_import", {"organisation" : organisation.id}) }}">{{ "members.import_action"|trans }}</a>
    </p>
{% endblock %}