{% extends "single_content_base.html.twig" %}
{% set color_class = globals_color_class_member %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}

{% block title %}{{ "members_invite_preview.title"|trans }}{% endblock %}
{% block description %}{{ "members_invite_preview.description"|trans }}{% endblock %}

{% trans_default_domain "administration_organisation" %}

{% block single_content %}
    <h3>{{ "members_invite_preview.your_email"|trans }}</h3>
    <p>
        <b>{{ "members_invite_preview.subject"|trans }}</b><br/>
        {{ subject }}
    </p>
    <p>
        <b>{{ "members_invite_preview.message"|trans }}</b><br/>
        {{ message|nl2br }}
    </p>
    <hr/>
    <h3>{{ "members_invite_preview.free_variables"|trans }}</h3>
    <form class="form"
          action="{{ path("administration_organisation_members_invite_preview", {"organisation" : organisation.id}) }}"
          method="post">
        <table class="table">
            <thead>
            <tr>
                <th>{{ "email"|trans({}, "entity_member") }}</th>
                <th>{{ "members_invite_preview.member_name_replace"|trans }}</th>
                {% if showFree1 %}
                    <th>{{ "members_invite_preview.free_1_replace"|trans }}</th>
                {% endif %}
                {% if showFree2 %}
                    <th>{{ "members_invite_preview.free_2_replace"|trans }}</th>
                {% endif %}
                {% if showFree3 %}
                    <th>{{ "members_invite_preview.free_3_replace"|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.email }}</td>
                    <td>{{ member.name }}</td>
                    {% if showFree1 %}
                        <td>{{ kitchen_sink.form_field("free_1_" ~ member.id, "") }}</td>
                    {% endif %}
                    {% if showFree2 %}
                        <td>{{ kitchen_sink.form_field("free_2_" ~ member.id, "") }}</td>
                    {% endif %}
                    {% if showFree3 %}
                        <td>{{ kitchen_sink.form_field("free_3_" ~ member.id, "") }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ kitchen_sink.submit_form_button("submit", "send"|trans({}, "enum_submit_button_type")) }}
    </form>

    <hr/>

    <h3>{{ "members_invite_preview.free_variables"|trans }}</h3>
    <p>{{ "members_invite_preview.free_variables_description"|trans }}</p>
{% endblock %}
