{% extends "divided_content_base.html.twig" %}

{% block title %}{{ "members"|trans }}{% endblock %}
{% block description %}{{ "members_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "organisation" %}

{% block primary_content %}
    <h2>{{ "members"|trans }}</h2>
    {% if members|length == 0 %}
        <p>{{ "no_members_yet"|trans }}</p>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <td>{{ "Name"|trans({}, "thing") }}</td>
                <td>{{ "addressLines"|trans({}, "address") }}</td>
                <td>{{ "member_persons"|trans({}, "organisation") }}</td>
            </tr>

            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.addressLines|join(", ") }}</td>
                    <td>{{ member.persons }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h2>{{ "leaders"|trans }}</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>{{ "fullName"|trans({}, "person") }}</td>
            <td></td>
        </tr>

        </thead>
        <tbody>
        {% for person in leaders %}
            <tr>
                <td>{{ person.fullName }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "members"|trans }}</h3>
    <p>
        {{ "members_description"|trans({}, "member") }}
        <br/>
        <a href="{{ path("administration_organisation_new", {"organisation" : organisation.id}) }}">{{ "add_member"|trans }}</a>
    </p>
    <h3>{{ "members_no_person"|trans({}, "member") }}</h3>
    <p>{{ "members_no_person_description"|trans({}, "member") }}</p>
    <h3>{{ "import_members"|trans }}</h3>
    <p>
        {{ "import_members_description"|trans }}
        <br/>
        <a href="{{ path("administration_organisation_member_import", {"organisation" : organisation.id}) }}">{{ "import_members"|trans }}</a>
    </p>
{% endblock secondary_content %}