{% extends "single_content_base.html.twig" %}
{% set color_class = globals_color_class_person %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}

{% block title %}{{ "persons_invite_preview.title"|trans }}{% endblock %}
{% block description %}{{ "persons_invite_preview.description"|trans }}{% endblock %}

{% trans_default_domain "administration_organisation" %}

{% block single_content %}
    <h3>{{ "persons_invite_preview.your_email"|trans }}</h3>
    <p>
        <b>{{ "persons_invite_preview.subject"|trans }}</b><br/>
        {{ subject }}
    </p>
    <p>
        <b>{{ "persons_invite_preview.message"|trans }}</b><br/>
        {{ message|nl2br }}
    </p>
    <hr/>
    <h3>{{ "persons_invite_preview.free_variables"|trans }}</h3>
    <form class="form"
          action="{{ path("administration_organisation_persons_invite_preview", {"organisation" : organisation.id}) }}"
          method="post">
        <table class="table">
            <thead>
            <tr>
                <th>{{ "email"|trans({}, "entity_frontend_user") }}</th>
                <th>{{ "persons_invite_preview.person_name_replace"|trans }}</th>
                {% if showFree1 %}
                    <th>{{ "persons_invite_preview.free_1_replace"|trans }}</th>
                {% endif %}
                {% if showFree2 %}
                    <th>{{ "persons_invite_preview.free_2_replace"|trans }}</th>
                {% endif %}
                {% if showFree3 %}
                    <th>{{ "persons_invite_preview.free_3_replace"|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for person in persons %}
                <tr>
                    <td>{{ person.email }}</td>
                    <td>{{ person.fullName }}</td>
                    {% if showFree1 %}
                        <td>{{ kitchen_sink.form_field("free_1_" ~ person.id, "") }}</td>
                    {% endif %}
                    {% if showFree2 %}
                        <td>{{ kitchen_sink.form_field("free_2_" ~ person.id, "") }}</td>
                    {% endif %}
                    {% if showFree3 %}
                        <td>{{ kitchen_sink.form_field("free_3_" ~ person.id, "") }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ kitchen_sink.submit_form_button("submit", "send"|trans({}, "enum_submit_button_type")) }}
    </form>

    <hr/>

    <h3>{{ "persons_invite_preview.free_variables"|trans }}</h3>
    <p>{{ "persons_invite_preview.free_variables_description"|trans }}</p>
{% endblock %}
