{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "setup.title"|trans }}{% endblock %}
{% block description %}{{ "setup.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "organisation" %}

{% block primary_content %}
    <h2>{{ "setup.setup_step_1"|trans }} {% if setupStatus.stepOneDone %}{{ "setup.setup_step_done"|trans }}{% endif %}</h2>
    <p>
        {{ "setup.setup_step_1_description"|trans }} <br/>
        <a href="{{ path("administration_organisation_members", {"organisation" : organisation.id}) }}">
            {{ "setup.setup_step_1_action"|trans }}
        </a>
    </p>
    <h2>{{ "setup.setup_step_2"|trans }}{% if setupStatus.stepTwoDone %}{{ "setup.setup_step_done"|trans }}{% endif %}</h2>
    <p>
        {{ "setup.setup_step_2_description"|trans }} <br/>
        <a href="{{ path("administration_organisation_event_line_administer", {"organisation" : organisation.id}) }}">
            {{ "setup.setup_step_2_action"|trans }}
        </a>
    </p>
    <p>
        <a href="{{ path("administration_organisation_events", {"organisation" : organisation.id}) }}">
            {{ "setup.setup_step_2_description"|trans }}
        </a>
    </p>
    <h2>{{ "setup.setup_step_1"|trans }}
        {% if setupStatus.stepThreeDone %}{{ "setup_step_done"|trans }}{% else %}{{ "setup_step_voluntary"|trans }}{% endif %}
    </h2>
    <p>{{ "setup_configure_settings"|trans }}</p>
    <h2>{{ "setup_step_4"|trans }}
        {% if setupStatus.stepFourDone %}{{ "setup_step_done"|trans }}{% endif %}
    </h2>
    <p>{{ "setup_invite_members"|trans }}</p>

{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "setup_add_members"|trans }}</h3>
    <p>{{ "setup_add_members_description"|trans }}</p>
    <h3>{{ "setup_add_events"|trans }}</h3>
    <p>{{ "setup_add_events_description"|trans }}</p>
    <h3>{{ "setup_configure_settings"|trans }}</h3>
    <p>{{ "setup_configure_settings_description"|trans }}</p>
    <h3>{{ "setup_invite_members"|trans }}</h3>
    <p>{{ "setup_invite_members_description"|trans }}</p>
{% endblock secondary_content %}