{% extends "single_content_base.html.twig" %}
{% import "macros/events.html.twig" as events %}
{% import "macros/event_line_models.html.twig" as event_line_model_macro %}
{% import "macros/kitchen_sink.html.twig" as kitchen %}

{% block title %}{{ "search.title"|trans }}{% endblock %}
{% block description %}{{ "search.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "event" %}

{% block single_content %}
    <div class="row">
        <div class="col-md-9">
            {% if eventLineModels|length == 0 %}
                <p>{{ "search.no_event_lines"|trans }}</p>
            {% else %}
                {% for eventLineModel in eventLineModels %}
                    {{ event_line_model_macro.show_full_table_single(eventLineModel, member) }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-3">
            <h3>{{ "search.filter"|trans }}</h3>
            <form action="{{ path("event_search") }}" method="get">
                {{ kitchen.select_form_field("member", selected_member, members, "entity.name"|trans({}, "entity_member"), true) }}
                {{ kitchen.select_form_field("person", selected_person, persons, "entity.name"|trans({}, "entity_person"), true) }}
                {{ kitchen.form_field("start", startDateTime, "start_date_time"|trans({}, "entity_event", "datetime")) }}
                {{ kitchen.form_field("end", endDateTime, "end_date_time"|trans({}, "entity_event", "datetime")) }}
                {{ kitchen.submit_form_field("view", "search", "search.filter"|trans) }}
                {{ kitchen.submit_form_field("view", "csv", "search.export"|trans, "no-disable") }}
            </form>
        </div>
    </div>
{% endblock %}