{% extends "single_content_base.html.twig" %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}

{% block title %}{{ "start_generation.title"|trans }}{% endblock %}
{% block description %}{{ "start_generation.description"|trans }}{% endblock %}
{% set theme_color = globals_theme_color_event_line %}

{% trans_default_domain "administration_organisation_event_line_generate_round_robin" %}

{% block single_content %}
    <p>{{ "start_generation.help"|trans }}</p>
    <p>
        <a href="{{ path("administration_organisation_event_line_generate_round_robin_do_generate", {"organisation" : organisation.id, "eventLine": eventLine.id, "generation": eventLineGeneration.id}) }}">
            {{ "start_generation.start_now"|trans }}
        </a>
    </p>
{% endblock %}