{% extends "single_content_base.html.twig" %}

{% block title %}{{ "distribution_confirm.title"|trans }}{% endblock %}
{% block description %}{{ "distribution_confirm.description"|trans }}{% endblock %}
{% set color_class = globals_color_class_event_line %}

{% trans_default_domain "administration_organisation_event_line_generate_nodika" %}

{% block single_content %}
    <p>
        {{ "distribution_confirm.help"|trans }}
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>{{ "entity.name"|trans({}, "entity_member") }}</th>
            <th>{{ "distribution_confirm.points"|trans }}</th>
            <th>{{ "weekday"|trans({}, "enum_nodika_event_type") }}</th>
            <th>{{ "saturday"|trans({}, "enum_nodika_event_type") }}</th>
            <th>{{ "sunday"|trans({}, "enum_nodika_event_type") }}</th>
            <th>{{ "holiday"|trans({}, "enum_nodika_event_type") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for distribution in memberEventTypeDistributions %}
            <tr>
                <td>{{ distribution.newMemberConfiguration.name }}</td>
                <td>
                    {{ distribution.newMemberConfiguration.points }}<br/>
                    {{ distribution.newMemberConfiguration.endScore }}<br/>
                    {{ distribution.newMemberConfiguration.luckyScore }}<br/>
                </td>
                <td>
                    {{ distribution.eventTypeAssignment.weekday }}
                </td>
                <td>
                    {{ distribution.eventTypeAssignment.saturday }}
                </td>
                <td>
                    {{ distribution.eventTypeAssignment.sunday }}
                </td>
                <td>
                    {{ distribution.eventTypeAssignment.holiday }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path("administration_organisation_event_line_generate_nodika_assignment_settings", {"organisation":organisation.id, "eventLine":eventLine.id, "generation": eventLineGeneration.id}) }}">
            {{ "distribution_confirm.continue_action"|trans }}
        </a>
    </p>

    <hr/>

    <h3>{{ "distribution_confirm.points"|trans }}</h3>
    <p>{{ "distribution_confirm.points_description"|trans }}</p>
    <h3>{{ "distribution_confirm.random_days"|trans }}</h3>
    <p>
        {{ "distribution_confirm.random_days_description"|trans }} <br/>
        <a href="{{ path("administration_organisation_event_line_generate_nodika_do_distribution", {"organisation" : organisation.id, "eventLine": eventLine.id, "generation": eventLineGeneration.id}) }}">
            {{ "distribution_confirm.random_days_retry"|trans }}
        </a>
    </p>
{% endblock %}