{% extends "primary_secondary_content_base.html.twig" %}
{% import "macros/kitchen_sink.html.twig" as kitchen_sink %}

{% block title %}{{ "relative_distribution.title"|trans }}{% endblock %}
{% block description %}{{ "relative_distribution.description"|trans }}{% endblock %}
{% set color_class = globals_color_class_event_line %}

{% trans_default_domain "nodika" %}

{% block primary_content %}
    <form class="form"
          action="{{ path("administration_organisation_event_line_generate_nodika_relative_distribution", {"organisation" : organisation.id, "eventLine": eventLine.id, "generation": eventLineGeneration.id}) }}"
          method="post">
        {% for member in memberConfigurations %}
            <p>{{ member.name }}</p>
            <div class="row">
                <div class="col-m-6">
                    {{ kitchen_sink.form_field("member_p_" ~ member.id, member.points, "relative_distribution.member_points"|trans ) }}
                </div>
                <div class="col-m-6">
                    {{ kitchen_sink.form_field("member_l_" ~ member.id, member.luckyScore, "relative_distribution.member_lucky_score"|trans ) }}
                </div>
            </div>
        {% endfor %}

        {{ kitchen_sink.submit_form_field("submit", "next"|trans({}, "enum_submit_button_type")) }}
    </form>
{% endblock %}

{% block secondary_content %}
    <h3>{{ "relative_distribution.member_points"|trans }}</h3>
    <p>{{ "relative_distribution.member_points_description"|trans }}</p>
    <h3>{{ "relative_distribution.member_lucky_score"|trans }}</h3>
    <p>{{ "relative_distribution.member_lucky_score_description"|trans }}</p>
{% endblock %}