{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "change_password.title"|trans }}{% endblock %}
{% block description %}{{ "change_password.description"|trans }}{% endblock %}
{% set color_class = globals_color_class_person %}

{% trans_default_domain "person" %}

{% block primary_content %}
    <h3>{{ "change_password.change_password_form"|trans }}</h3>
    {{ form(change_password_form) }}
{% endblock %}

{% block secondary_content %}
    <h3>{{ "change_password.choose_safe"|trans }}</h3>
    <p>{{ "change_password.choose_safe_description"|trans }}</p>
{% endblock %}