{% extends "single_content_base.html.twig" %}

{% block title %}{{ "events.title"|trans }}{% endblock %}
{% block description %}{{ "events.description"|trans }}{% endblock %}

{% trans_default_domain "administration" %}

{% block single_content %}
    <p>
        <a class="btn btn-secondary" href="{{ path("administration_event_new") }}">
            {{ "new.title"|trans({}, "administration_event") }}
        </a>
    </p>
    <table class="table table-striped table-hover table-responsive-xl">
        <thead>
        <tr>
            <th>{{ "start_date_time"|trans({}, "trait_start_end") }}</th>
            <th>{{ "end_date_time"|trans({}, "trait_start_end") }}</th>
            <th>{{ "entity.plural"|trans({}, "entity_clinic") }}</th>
            <th>{{ "entity.plural"|trans({}, "entity_doctor") }}</th>
            <th>{{ "entity.plural"|trans({}, "entity_event_tag") }}</th>
            <th>{{ "confirmed"|trans({}, "trait_event") }}</th>
            <th>{{ "history.title"|trans({}, "administration_event") }}</th>
            <th class="minimal-width"></th>
            <th class="minimal-width"></th>
        </tr>
        </thead>
        <tbody>

        {% for event in events %}
            <tr>
                <td>{{ event.startDateTime|dateTimeFormat }}</td>
                <td>{{ event.endDateTime|dateTimeFormat }}</td>
                <td>{{ event.clinic|default("") }}</td>
                <td>{{ event.doctor|default("") }}</td>
                <td>{{ event.eventTags|join(", ") }}</td>
                <td>
                    {% if event.confirmed %}
                        <i class="fas fa-check"></i>
                    {% endif %}
                    <a href="{{ path("administration_event_toggle_confirm", {"event": event.id}) }}">
                        {{ "toggle_confirmed.change"|trans({}, "administration_event") }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-outline-secondary"
                       href="{{ path("administration_event_history", {"event": event.id}) }}">
                        {{ event.eventPast|length }}
                    </a>
                </td>
                <td>
                    <a class="btn btn-secondary"
                       href="{{ path("administration_event_edit", {"event" : event.id}) }}">
                        <i class="fal fa-pencil"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-secondary"
                       href="{{ path("administration_event_remove", {"event" : event.id}) }}">
                        <i class="fal fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}