{% extends 'layout_base.html.twig' %}
{% import _self as local_macro %}

{% trans_default_domain "administration" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% macro quick_link(name, description, link) %}
    <div class="card w-25" href="{{ path('assign_index') }}">
        <div class="card-body">
            <p>
                {{ description }}
            </p>
            <a class="btn btn-outline-primary" href="{{ link }}">
                {{ name }}
            </a>
        </div>
    </div>
{% endmacro %}

{% block content %}
    <div class="container">
        <div class="row">

            {{ local_macro.quick_link("doctors.title"|trans, "doctors.description"|trans, path("administration_doctors")) }}
            {{ local_macro.quick_link("clinics.title"|trans, "clinics.description"|trans, path("administration_clinics")) }}
            {{ local_macro.quick_link("events.title"|trans, "events.description"|trans, path("administration_events")) }}
            {{ local_macro.quick_link("settings.title"|trans, "settings.description"|trans, path("administration_setting_edit")) }}

            {# todo: show events which are late or banner that all is fine #}

        </div>
    </div>
{% endblock %}

