{% extends 'layout/base.html.twig' %}
{% import "macros/events.html.twig" as events %}
{% import "macros/event_line_models.html.twig" as event_line_model_macro %}

{% trans_default_domain "dashboard" %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% block content %}
    <section class="content {{ color_class }}">
        {% include "layout/parts/menu.html.twig" %}
        {% include "layout/parts/flashbag.html.twig" %}

        <div class="container list-container d-none d-md-block">
            <div class="row">
                {# case 1: normal, active organisation #}
                {% if organisation is defined and eventLineModels|length > 0 %}
                    <a class="tile tile-single default-color" href="{{ path('event_assign') }}">
                        <h3>{{ "index.assign_events"|trans }}</h3>
                        <p>
                            {{ "index.assign_events_description"|trans }}
                        </p>
                    </a>
                    <a class="tile tile-single default-color" href="{{ path('offer_index') }}">
                        <h3>{{ "index.trade_events"|trans }}</h3>
                        <p>
                            {{ "index.trade_events_description"|trans }}
                        </p>
                    </a>
                    <a class="tile tile-single default-color" href="{{ path('event_confirm') }}">
                        <h3>{{ "index.confirm_events"|trans }}</h3>
                        <p>
                            {{ "index.confirm_events_description"|trans }}
                        </p>
                    </a>
                    <a class="tile tile-single default-color" href="{{ path('event_search') }}">
                        <h3>{{ "index.search_events"|trans }}</h3>
                        <p>
                            {{ "index.search_events_description"|trans }}
                        </p>
                    </a>
                {% endif %}

                {# case 2: not in an active organisation; probably failed setup? #}
                {% if organisation is not defined %}
                    <a class="tile tile-single default-color" href="{{ path("help_users") }}">
                        <h3>{{ "index.welcome"|trans }}</h3>
                        <p>
                            {{ "index.welcome_description"|trans }}
                        </p>
                    </a>
                {% endif %}

                {% for organisation in change_organisations %}
                    <a class="tile tile-single default-color"
                       href="{{ path("organisation_change_to", {"organisation" : organisation.id}) }}">
                        <h3>{{ "index.change_organisation"|trans }}</h3>
                        <p>
                            {{ "index.change_organisation_description"|trans }}
                            <br/>
                            <b>{{ organisation.name }}</b>
                        </p>
                    </a>
                {% endfor %}

                {% for organisation in leading_organisations %}
                    <a class="tile tile-double default-color"
                       href="{{ path("administration_organisation_administer", {"organisation" : organisation.id}) }}">
                        <h3>{{ "index.administer_organisations"|trans }}</h3>
                        <p>
                            {{ "index.administer_organisations_description"|trans }}
                            <br/>
                            <b>{{ organisation.name }}</b>
                        </p>
                    </a>
                {% endfor %}

                {# show help if no organisation, or leading an organisation #}
                {% if leading_organisations|length > 0 or organisation is not null %}
                    <a class="tile tile-double default-color" href="mailto:support@nodika.ch">
                        <h3>{{ "index.questions"|trans }}</h3>
                        <p>
                            {{ "index.questions_description"|trans }}
                            <br/>
                            <b>support@nodika.ch</b>
                        </p>
                    </a>
                {% endif %}

            </div>
        </div>

        {% if organisation is defined %}
            {% if eventLineModels|length == 0 %}
                <div class="container index-container default-color list-container">
                    <p>{{ "index.no_event_lines"|trans }}
                        <br/>
                        {{ "index.are_you_administrator"|trans }}
                        <a href="{{ path("administration_organisation_administer", {"organisation" : organisation.id}) }}">
                            {{ "index.to_organisation_administration"|trans }}
                        </a>
                    </p>
                </div>
            {% else %}
                {% for eventLineModel in eventLineModels %}
                    <div class="container index-container default-color list-container">
                        {{ event_line_model_macro.show_full_table_single(eventLineModel, member) }}
                        <p><a href="{{ path("event_search") }}">{{ "index.show_all_events"|trans }}</a></p>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <div class="container index-container default-color list-container">
                <p>{{ "index.not_part_of_organisation"|trans }}</p>
            </div>
        {% endif %}
    </section>
{% endblock %}

