{% extends "single_content_base.html.twig" %}
{% import "macros/events.html.twig" as events %}
{% import "macros/event_line_models.html.twig" as event_line_model_macro %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "dashboard" %}

{% block single_content %}
    <div class="row">
        <div class="col-md-9">
            {% if eventLineModels is defined %}
                {% if eventLineModels|length == 0 %}
                    <p>{{ "index.no_event_lines"|trans }}
                        <br/>
                        {{ "index.are_you_administrator"|trans }}
                        <a href="{{ path("administration_organisation_administer", {"organisation" : organisation.id}) }}">
                            {{ "index.to_organisation_administration"|trans }}
                        </a>
                    </p>
                {% else %}
                    {{ event_line_model_macro.show_full_table(eventLineModels, member) }}
                {% endif %}
            {% else %}
                <p>{{ "index.not_part_of_organisation"|trans }}</p>
            {% endif %}
        </div>
        <div class="col-md-3">
            <h3>{{ "index.welcome"|trans }}</h3>
            <p>
                {{ "index.welcome_description"|trans }}
            </p>
            <h3>{{ "index.trade_events"|trans }}</h3>
            <p>
                {{ "index.trade_events_description"|trans }}
            </p>
            {% if change_organisations is defined %}
                <h3>{{ "index.change_organisation"|trans }}</h3>
                <p>
                    {{ "index.change_organisation_description"|trans }}
                    <br/>
                    {% for organisation in change_organisations %}
                        <a href="{{ path("organisation_change_to", {"organisation" : organisation.id}) }}">{{ organisation.name }}</a>
                        <br/>
                    {% endfor %}
                </p>
            {% endif %}
            {% if leading_organisations|length > 0 %}
                <h3>{{ "index.administer_organisations"|trans }}</h3>
                <p>
                    {{ "index.administer_organisations_description"|trans }}
                    <br/>
                    {% for organisation in leading_organisations %}
                        <a href="{{ path("administration_organisation_administer", {"organisation" : organisation.id}) }}">{{ organisation.name }}</a>
                        <br/>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}