{% extends "single_content_base.html.twig" %}
{% import "macros/events.html.twig" as events %}
{% import "macros/event_line_models.html.twig" as event_line_model_macro %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "dashboard" %}

{% set hide_dashboard = true %}

{% block single_content %}
    <div class="row">
        <div class="col-md-9">
            {% if eventLineModels is defined %}
                {% if eventLineModels|length == 0 %}
                    <p>{{ "index.no_event_lines"|trans }}
                        <br/>
                        {{ "index.are_you_administrator"|trans }}
                        <a href="{{ path("administration_organisation_administer", {"organisation" : organisation.id}) }}">
                            {{ "index.to_organisation_administration"|trans }}
                        </a>
                    </p>
                {% else %}
                    {{ event_line_model_macro.show_full_table(eventLineModels, member) }}
                {% endif %}
            {% else %}
                <p>{{ "index.not_part_of_organisation"|trans }}</p>
            {% endif %}
        </div>
        <div class="col-md-3">
            <h3>{{ "index.your_profil"|trans }}</h3>
            <p>
                {{ "index.your_profil_description"|trans }}
                <br/>
                {% if organisation is defined %}
                    {{ "entity.name"|trans({}, "entity_organisation") }}:
                    <a href="{{ path("organisation_view") }}">
                        {{ organisation.name }}</a>
                    <br/>
                {% endif %}
                {% if member is defined %}
                    {{ "entity.name"|trans({}, "entity_member") }}:
                    <a href="{{ path("member_view") }}">
                        {{ member.name }}</a>
                    <br/>
                {% endif %}
                {{ "entity.name"|trans({}, "entity_person") }}:
                <a href="{{ path("person_view") }}">
                    {{ person.fullName }}</a>
                <br/>
            </p>

            <h3>{{ "index.important_links"|trans }}</h3>
            <p>
                <a href="{{ path("offer_index") }}">
                    {{ "index.trade_events"|trans }}
                </a><br/>
                <a href="{{ path("event_assign") }}">
                    {{ "index.assign_events"|trans }}
                </a><br/>
                <a href="{{ path("dashboard_mine") }}">
                    {{ "index.all_my_events"|trans }}
                </a><br/>
                <a href="{{ path("dashboard_all") }}">
                    {{ "index.all_events"|trans }}
                </a>
            </p>

            {% if change_organisations is defined %}
                <h3>{{ "index.change_organisation"|trans }}</h3>
                <p>
                    {{ "index.change_organisation_description"|trans }}
                    <br/>
                    {% for organisation in change_organisations %}
                        <a href="{{ path("organisation_change_to", {"organisation" : organisation.id}) }}">{{ organisation.name }}</a>
                        <br/>
                    {% endfor %}
                </p>
            {% endif %}
            {% if leading_organisations|length > 0 %}
                <h3>{{ "index.administer_organisations"|trans }}</h3>
                <p>
                    {{ "index.administer_organisations_description"|trans }}
                    <br/>
                    {% for organisation in leading_organisations %}
                        <a href="{{ path("administration_organisation_administer", {"organisation" : organisation.id}) }}">{{ organisation.name }}</a>
                        <br/>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}