{% extends "single_content_base.html.twig" %}
{% import "macros/events.html.twig" as events %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "dashboard" %}

{% block single_content %}
    <div class="row">
        <div class="col-md-9">

            {% if eventLineModels|length == 0 %}
                <p>{{ "index.no_event_lines"|trans }}
                    <br/>
                    {{ "index.are_you_administrator"|trans }}
                    <a href="{{ path("administration_organisation_administer", {"organisation" : organisation.id}) }}">
                        {{ "index.to_organisation_administration"|trans }}
                    </a>
                </p>
            {% else %}
                {% for eventLineModel in eventLineModels %}
                    <h3>
                        {{ eventLineModel.eventLine.name }}
                    </h3>
                    <p>{{ eventLineModel.eventLine.description }}</p>

                    {% if eventLineModel.events|length == 0 %}
                        <p>{{ "index.no_events"|trans }}</p>
                    {% else %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{ "start_date_time"|trans({}, "entity_event") }}</th>
                                <th>{{ "end_date_time"|trans({}, "entity_event") }}</th>
                                <th>{{ "entity.name"|trans({}, "entity_member") }}</th>
                                <th>{{ "entity.name"|trans({}, "entity_person") }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for event in eventLineModel.events %}
                                {% if event.member == member %}
                                    <tr class="bold">
                                {% else %}
                                    <tr>
                                {% endif %}
                                <td>
                                    {{ event.startDateTime|myDateTime }}
                                </td>
                                <td>
                                    {{ event.endDateTime|myDateTime }}
                                </td>
                                <td>
                                    {{ event.member }}
                                </td>
                                <td>
                                    {{ event.person }}
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    {% endif %}
                    <p>
                        {{ "index.are_you_administrator"|trans }}
                        <a href="{{ path("administration_organisation_event_line_administer", {"organisation" : organisation.id, "eventLine" : eventLineModel.eventLine.id}) }}">
                            {{ "index.to_event_line_administration"|trans }}
                        </a>
                    </p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-3">

            <h3>{{ "index.your_profil"|trans }}</h3>
            <p>
                {{ "index.your_profil_description"|trans }}
                <br/>
                {% if organisation is defined %}
                    {{ "entity.name"|trans({}, "entity_organisation") }}:
                    <a href="{{ path("organisation_view") }}">
                        {{ organisation.name }}</a>
                    <br/>
                {% endif %}
                {% if member is defined %}
                    {{ "entity.name"|trans({}, "entity_member") }}:
                    <a href="{{ path("member_view") }}">
                        {{ member.name }}</a>
                    <br/>
                {% endif %}
                {{ "entity.name"|trans({}, "entity_person") }}:
                <a href="{{ path("person_view") }}">
                    {{ person.fullName }}</a>
                <br/>
            </p>

            {% if change_organisations is defined %}
                <h3>{{ "index.change_organisation"|trans }}</h3>
                <p>
                    {{ "index.change_organisation_description"|trans }}
                    <br/>
                    {% for organisation in change_organisations %}
                        <a href="{{ path("organisation_change_to", {"organisation" : organisation.id}) }}">{{ organisation.name }}</a>
                        <br/>
                    {% endfor %}
                </p>
            {% endif %}
            {% if leading_organisations|length > 0 %}
                <h3>{{ "index.administer_organisations"|trans }}</h3>
                <p>
                    {{ "index.administer_organisations_description"|trans }}
                    <br/>
                    {% for organisation in leading_organisations %}
                        <a href="{{ path("administration_organisation_administer", {"organisation" : organisation.id}) }}">{{ organisation.name }}</a>
                        <br/>
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block secondary_content %}
{% endblock %}