{% extends "divided_content_base.html.twig" %}

{% block title %}{{ "register"|trans }}{% endblock %}
{% block description %}{{ "register_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "access" %}

{% block primary_content %}
    <p>Termine</p>
{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "register"|trans }}</h3>
    <p>{{ "register_description"|trans }}</p>
    <h3>{{ "personal_data"|trans }}</h3>
    <p>{{ "personal_data_description"|trans }}</p>
{% endblock secondary_content %}