{% extends "divided_content_base.html.twig" %}

{% block title %}{{ "start"|trans }}{% endblock %}
{% block description %}{{ "start_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "start" %}

{% block primary_content %}
    <p>Termine</p>
{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "start"|trans }}</h3>
    <p>{{ "start_description"|trans }}</p>
    {% if my_organisations|length > 0 %}
        <h3>{{ "my_organisations"|trans }}</h3>
        <p>
            {% for organisation in leading_organisations %}
                <a href="{{ path("administration_organisation_view", {"organisation" : organisation.id}) }}">{{ organisation.name }}</a>
                <br/>
            {% endfor %}
        </p>
    {% endif %}
    {% if leading_organisations|length > 0 %}
        <h3>{{ "administer_organisations"|trans }}</h3>
        <p>
            {% for organisation in leading_organisations %}
                <a href="{{ path("administration_organisation_administer", {"organisation" : organisation.id}) }}">{{ organisation.name }}</a>
                <br/>
            {% endfor %}
        </p>
    {% endif %}
{% endblock secondary_content %}