{% extends 'layout_base.html.twig' %}

{% block title %}nodika.ch{% endblock %}
{% block description %}Der Notfalldienst Kalender erlaubt schnelle, transparente und einfache Absprache
    über die Verteilung von Notfalldiensten{% endblock %}

{% trans_default_domain "static" %}

{% block header %}
    {% if message != "" %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}

{% block layout %}
    {% if is_logged_in %}
        <section class="returning">
            <div class="container index-container default-color">
                <div class="row">
                    <div class="color-title col-md-4">
                        <h2>{{ "index.returning.welcome_back"|trans }}</h2>
                        <p class="h2-description">
                            <a href="{{ path("dashboard_index") }}">{{ "index.returning.to_dashboard"|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="introduction">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-4">
                    <h2>{{ "index.introduction.header"|trans }}</h2>
                    <p class="h2-description">{{ "index.introduction.header_description"|trans }}</p>
                </div>
                <div class="color-content col-md-offset-2 col-md-6">
                    <p>{{ "index.introduction.paragraph_1"|trans }}</p>
                    <p>{{ "index.introduction.paragraph_2"|trans }}</p>

                    <p><a href="#contact">{{ "index.introduction.register_action"|trans }}</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-4">
                    <h2>Funktionen</h2>
                    <p class="h2-description">Der Notfalldienst Kalender ist eine Kombination aus mehreren bewährten und
                        bereits
                        im Einsatz stehenden Tools.</p>
                </div>
                <div class="color-content col-md-offset-2 col-md-6">
                    <ul>
                        <li>
                            <b>Übersichtlich:</b>
                            Sofortiger Einblick in kommende eigene Termine und Rückblick der vergangenen Termine
                        </li>
                        <li>
                            <b>Fair:</b>
                            Neue Termine werden mit einem ausgeklügelten Algorithmus gewichtet auf die verschiedenen
                            Mitglieder
                            verteilt
                        </li>
                        <li>
                            <b>Praktisch:</b>
                            Termine können einfach mit anderen Benutzern getauscht werden
                        </li>
                        <li>
                            <b>Erinnernd:</b>
                            Kurz bevor ein Termin stattfindet wird der Benutzer daran erinnert. Bestätigt er den Erhalt
                            der
                            Erinnerung nicht, wird automatisch ein Administrator informiert
                        </li>
                        <li>
                            <b>Transparent:</b>
                            Alle Veränderungen am Terminkalender werden gespeichert und zugänglich gemacht
                        </li>
                        <li>
                            <b>Individuell:</b>
                            Sorgsam ausgewählte Standarteinstellungen können vom Administrator nachkonfiguriert werden
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="promises">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-4">
                    <h2>Chancen</h2>
                    <p class="h2-description">Reduzieren Sie den Verwaltungsaufwand, während gleichzeitig die
                        Organisation der
                        Mitglieder verbessert wird.</p>
                </div>
                <div class="color-content col-md-offset-2 col-md-6">
                    <ul>
                        <li>
                            <b>Zeit und Kosten sparen:</b>
                            Verwatungsaufwand Ihres Vereins erheblich reduzieren
                        </li>
                        <li>
                            <b>Strukturiert:</b>
                            Jederzeit ist klar, wer die Verantwortung für welchen Termin hat. Die Erinnerungsfunktion
                            beugt
                            Missverständnissen vor.
                        </li>
                        <li>
                            <b>Lange Testphase:</b>
                            Ab Anfang November kann das Tool ausgiebig gestestet werden
                        </li>
                        <li>
                            <b>Sicher:</b>
                            Das Tool wird mit neuesten Technologien von einem erfahrenen Entwickler umgesetzt
                        </li>
                        <li>
                            <b>Langfristig:</b>
                            Die verwendeten Technologien erlauben auch anderen Unternehmen die Weiterführung des
                            Projektes.
                            Das Tool wird für mindestens drei Jahre gewartet und weiterentwickelt
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="payment">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-4">
                    <h2>Finanzielles</h2>
                    <p class="h2-description">Der finanzielle Aspekt</p>
                </div>
                <div class="color-content col-md-offset-2 col-md-6">
                    <ul>
                        <li>
                            <b>Registrierungsgebühr:</b>
                            Einmalige Registrierungsgebühr 1500 CHF zur teilweisen Deckung der Entwicklungskosten (fällt
                            per
                            01.07.2017 an).
                        </li>
                        <li>
                            <b>Jährlicher Betrag:</b>
                            Der jährliche Betrag von CHF 300 deckt den Rest der Entwicklungskosten, und bezahlt die
                            Wartung und
                            das Hosting der Platform
                        </li>
                        <li>
                            <b>Support:</b>
                            Wird mit 60 CHF/h seperat vergütet
                        </li>
                        <li>
                            <b>Geld zurück Garantie:</b>
                            Nicht zufrieden mit dem Notfalldienst Kalender? Bis ein Monat nach Beginn der Nutzung der
                            Anwendung
                            wird das Geld zurückerstattet!
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-5">
                    <h2>Interesse geweckt?</h2>
                    <p class="h2-description">Jetzt in die Early Bird Liste einschreiben</p>
                    <p>Helfen Sie mit das Produkt zu realisieren und tragen Sie sich in die Early Bird Liste ein. Ihre
                        Vorteile: </p>
                    <ul>
                        <li>
                            <b>20% Rabatt:</b>
                            Als kleines Dankeschön für das Vertrauen wird die Registrierungsgebühr und das erste
                            Jahresgebühr
                            um 20% reduziert
                        </li>
                        <li>
                            <b>Extra Funktionen:</b>
                            Sofern möglich werden zusätzliche Funktionen programmiert um Ihrem Verein die Integrierung
                            einfacher zu machen
                        </li>
                        <li>
                            <b>Kein Risiko:</b>
                            Es wird keine Rechnung versandt bis das Tool nicht fristgerecht mit allen versprochenen
                            Funktionen veröffentlicht ist
                        </li>
                    </ul>
                    <p>Mit dem Eintrag in die Early Bird Liste akzeptieren Sie die <a
                                href="{{ asset("dist/files/AGB.pdf") }}">AGB</a> und erwerben das erste Jahr plus
                        Registrierungsgebühr</p>
                </div>
                <div class="color-content col-md-offset-1 col-md-6">
                    {{ form_start(newsletter_form) }}
                    {{ form_errors(newsletter_form) }}
                    {{ form_end(newsletter_form) }}
                    {% if message != "" %}
                        <p>{{ message }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}