{% extends 'layout/base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "static" %}

{% set show_login = true %}
{% set show_dashboard = false %}
{% set color_class = globals_color_class_organisation %}

{% block content %}
    {% if is_logged_in %}
        <section class="returning">
            <div class="container index-container default-color">
                <div class="row">
                    <div class="color-title col-md-4">
                        <h2>{{ "index.returning.welcome_back"|trans }}</h2>
                        <p class="h2-description">
                            <a href="{{ path("dashboard_index") }}">{{ "index.returning.to_dashboard"|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="introduction">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-4">
                    <h2>{{ "index.introduction.header"|trans }}</h2>
                    <p class="h2-description">{{ "index.introduction.header_description"|trans }}</p>
                </div>
                <div class="color-content col-md-offset-2 col-md-6">
                    <p>{{ "index.introduction.paragraph_1"|trans }}</p>
                    <p>{{ "index.introduction.paragraph_2"|trans }}</p>
                    <p><a href="{{ path("access_register") }}">{{ "index.introduction.register_action"|trans }}</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-4">
                    <h2>{{ "index.features.header"|trans }}</h2>
                    <p class="h2-description">{{ "index.features.header_description"|trans }}</p>
                </div>
                <div class="color-content col-md-offset-2 col-md-6">
                    <ul>
                        <li>
                            <b>{{ "index.features.reason_1_name"|trans }}:</b>
                            {{ "index.features.reason_1_description"|trans }}
                        </li>
                        <li>
                            <b>{{ "index.features.reason_2_name"|trans }}:</b>
                            {{ "index.features.reason_2_description"|trans }}
                        </li>
                        <li>
                            <b>{{ "index.features.reason_3_name"|trans }}:</b>
                            {{ "index.features.reason_3_description"|trans }}
                        </li>
                        <li>
                            <b>{{ "index.features.reason_4_name"|trans }}:</b>
                            {{ "index.features.reason_4_description"|trans }}
                        </li>
                        <li>
                            <b>{{ "index.features.reason_5_name"|trans }}:</b>
                            {{ "index.features.reason_5_description"|trans }}
                        </li>
                        <li>
                            <b>{{ "index.features.reason_6_name"|trans }}:</b>
                            {{ "index.features.reason_6_description"|trans }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="promises">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-4">
                    <h2>{{ "index.promises.header"|trans }}</h2>
                    <p class="h2-description">{{ "index.promises.header_description"|trans }}</p>
                </div>
                <div class="color-content col-md-offset-2 col-md-6">
                    <ul>
                        <li>
                            <b>{{ "index.promises.promise_1_name"|trans }}:</b>
                            {{ "index.promises.promise_1_description"|trans }}
                        </li>
                        <li>
                            <b>{{ "index.promises.promise_2_name"|trans }}:</b>
                            {{ "index.promises.promise_2_description"|trans }}
                        </li>
                        <li>
                            <b>{{ "index.promises.promise_3_name"|trans }}:</b>
                            {{ "index.promises.promise_3_description"|trans }}
                        </li>
                        <li>
                            <b>{{ "index.promises.promise_4_name"|trans }}:</b>
                            {{ "index.promises.promise_4_description"|trans }}
                        </li>
                        <li>
                            <b>{{ "index.promises.promise_5_name"|trans }}:</b>
                            {{ "index.promises.promise_5_description"|trans }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="payment">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-4">
                    <h2>{{ "index.payment.header"|trans }}</h2>
                    <p class="h2-description">{{ "index.payment.header_description"|trans }}</p>
                </div>
                <div class="color-content col-md-offset-2 col-md-6">
                    <ul>
                        <li>
                            <b>{{ "index.payment.aspect_1_name"|trans }}:</b>
                            {{ "index.payment.aspect_1_description"|trans({"%register_fee%": globals_register_fee}) }}
                        </li>
                        <li>
                            <b>{{ "index.payment.aspect_2_name"|trans }}:</b>
                            {{ "index.payment.aspect_2_description"|trans({"%yearly_fee%": globals_yearly_fee}) }}
                        </li>
                        <li>
                            <b>{{ "index.payment.aspect_3_name"|trans }}:</b>
                            {{ "index.payment.aspect_3_description"|trans }}
                        </li>
                        <li>
                            <b>{{ "index.payment.aspect_4_name"|trans }}:</b>
                            {{ "index.payment.aspect_4_description"|trans }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="container index-container default-color">
            <div class="row">
                <div class="color-title col-md-5">
                    <h2>{{ "index.contact.header"|trans }}</h2>
                    <p class="h2-description">{{ "index.contact.header_description"|trans }}</p>
                </div>
                <div class="color-content col-md-offset-1 col-md-6">
                    <h3>{{ "index.contact.contact_form_header"|trans }}</h3>
                    {{ form(newsletter_form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}