{% extends "divided_content_base.html.twig" %}

{% block title %}{{ "add_member_online"|trans }}{% endblock %}
{% block description %}{{ "add_members_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "member" %}

{% block primary_content %}
    <h2>{{ "import_csv"|trans }}</h2>
    <p>
        <a href="{{ path("administration_organisation_member_import", {"organisation" : organisation.id}) }}">
            {{ "import_csv_action"|trans }}
        </a>
    </p>
    <h2>{{ "add_member_online"|trans }}</h2>
    <p>
        <a href="{{ path("administration_organisation_member_add", {"organisation" : organisation.id}) }}">
            {{ "add_member_online_action"|trans }}
        </a>
    </p>

{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "members_no_person"|trans({}, "organisation") }}</h3>
    <p>{{ "members_no_person_description"|trans({}, "organisation") }}</p>
    <h3>{{ "add_members"|trans({}, "organisation") }}</h3>
    <p>{{ "add_members_description"|trans({}, "organisation") }}</p>
{% endblock secondary_content %}