{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "administer.title"|trans }}{% endblock %}
{% block description %}{{ "administer.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "member" %}

{% block primary_content %}
    <h3>{{ "entity.name"|trans({}, "entity_event_line") }}</h3>
    <p>
        {{ "entity.description"|trans({}, "entity_event_line") }}
    </p>
    {{ event_lines.show_table(organisation, true) }}
    <p>
        <a href="{{ path("administration_organisation_event_lines", {"organisation" : organisation.id}) }}">{{ "event_lines.new_action"|trans }}</a>
    </p>
{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "entity.name"|trans({}, "entity_member") }}</h3>
    <p>{{ "entity.description"|trans({}, "entity_member") }}</p>
    <h3>{{ "entity.name"|trans({}, "entity_event_line") }}</h3>
    <p>{{ "entity.description"|trans({}, "entity_event_line") }}</p>
    {% if show_setup %}
        <h3>{{ "administer.setup"|trans }}</h3>
        <p>
            {{ "administer.setup_description"|trans }}<br/>
            <a href="{{ path("administration_organisation_setup", {"organisation" : organisation.id}) }}">{{ "administer.setup_action"|trans }}</a>
        </p>
    {% endif %}
{% endblock secondary_content %}