{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "administer.title"|trans }}{% endblock %}
{% block description %}{{ "administer.description"|trans }}{% endblock %}
{% set color_class = globals_color_class_member %}
{% import "macros/persons.html.twig" as persons %}

{% trans_default_domain "member" %}

{% block primary_content %}
    <h3>{{ member.name }}</h3>
    <p>
        {{ member.description }}
    </p>
    <p>
        <a href="{{ path("administration_organisation_member_edit", {"organisation" : organisation.id, "member": member.id}) }}">{{ "administer.edit_member_action"|trans }}</a><br/>
        <a href="{{ path("administration_organisation_member_remove", {"organisation" : organisation.id, "member": member.id}) }}">{{ "administer.remove_member_action"|trans }}</a>
    </p>
    {{ persons.show_table(organisation, member, true) }}
    <p>
        <a href="{{ path("administration_organisation_member_person_new", {"organisation" : organisation.id, "member" : member.id}) }}">{{ "administer.new_person_action"|trans }}</a>
    </p>
{% endblock %}

{% block secondary_content %}
    <h3>{{ "entity.name"|trans({}, "entity_member") }}</h3>
    <p>{{ "entity.description"|trans({}, "entity_member") }}</p>
    <h3>{{ "entity.name"|trans({}, "entity_person") }}</h3>
    <p>{{ "entity.description"|trans({}, "entity_person") }}</p>
{% endblock %}