{% extends "primary_secondary_content_base.html.twig" %}

{% block title %}{{ "remove.title"|trans }}{% endblock %}
{% block description %}{{ "remove.description"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "member" %}

{% block primary_content %}
    <h3>{{ "remove_title"|trans({"%name%" : member.name}, "remove")|raw }}</h3>
    {{ form(remove_form) }}
{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "remove.remove"|trans }}</h3>
    <p>{{ "remove.remove_description"|trans }}</p>
{% endblock secondary_content %}