{% extends "divided_content_base.html.twig" %}

{% block title %}{{ "remove"|trans }}{% endblock %}
{% block description %}{{ "remove_action"|trans }}{% endblock %}
{% set color_class = "brown-background" %}

{% trans_default_domain "member" %}

{% block primary_content %}
    <h2>{{ "remove_title"|trans({"%name%" : member.name}, "remove")|raw }}</h2>
    {{ form_start(remove_member_form) }}
    {{ form_errors(remove_member_form) }}
    {{ form_end(remove_member_form) }}
{% endblock primary_content %}

{% block secondary_content %}
    <h3>{{ "remove"|trans }}</h3>
    <p>{{ "remove_description"|trans }}</p>

{% endblock secondary_content %}