{% extends 'single_content_base.html.twig' %}

{% block title %}{{ "error.title"|trans({"%status_code%" : status_code}) }}{% endblock %}
{% block description %}{{ "error.description"|trans }}{% endblock %}

{% trans_default_domain "error" %}

{% block single_content %}
    {% block additional_error_info %}
        <p class="text-secondary">{{ "error.description"|trans }}</p>
    {% endblock %}
    <p>
        <a href="{{ path("index_index") }}">{{ "error.back_to_homepage"|trans }}</a>
    </p>
{% endblock %}