{% import "widgets/base_widgets.html.twig" as base_widgets %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set title = block('title')|raw %}
    {% set description = block('description')|raw %}

    <title>{{ title }}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/app.css') }}"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name="description" content="{{ description }}">
    <base href="/" target="_self">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i" rel="stylesheet">
</head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<header class="header">
    <div class="container header-container">
        <div class="logo-wrapper">
            <img src="{{ asset("images/logo.svg") }}" class="logo-img">
        </div>

        <div class="header-content">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ title }}</h1>
                    <p class="h1-description">{{ description }}</p>
                </div>
                <div class="col-md-6">
                    <div class="go-buttons">
                        {% if back_url is defined %}
                            <a href="{{ back_url }}"
                               class="{{ color_class }} go-button">{{ "navigation.go_back"|trans({}, "content_base") }}</a>
                        {% endif %}
                        {% if show_login is defined %}
                            <a href="{{ path("access_register_check") }}"
                               class="{{ color_class }} go-button">{{ "navigation.register"|trans({}, "content_base") }}</a>
                            <a href="{{ path("dashboard_index") }}"
                               class="{{ color_class }} go-button">{{ "navigation.login"|trans({}, "content_base") }}</a>
                        {% endif %}
                        {% if show_dashboard %}
                            <a href="{{ path("dashboard_index") }}"
                               class="{{ color_class }} go-button">{{ "navigation.dashboard"|trans({}, "content_base") }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% block content %}

{% endblock %}
<footer class="footer">
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-6">
                made with <3 by <a href="http://famoser.ch">famoser</a>
            </div>
            <div class="col-md-6 align-right">
                version 2017.3
            </div>
        </div>
    </div>
</footer>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/{{ globals_tawk_id }}/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->

<script type="text/javascript" src="{{ asset('dist/app.js') }}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>
